<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MORENT</title>
  <link rel="stylesheet" href="/assets/index-DUNQpWgu.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.css" />
</head>
<body class="min-h-screen flex flex-col bg-white-200">
  {{> navbar}}
  <main class="flex-1">
    {{{body}}}
  </main>
  {{> footer}}
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.js"></script>
</body>
</html>
